.footer-container {
    background-color: rgb(46, 112, 46);
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.footer-copyright{
  color: white;
}